.cards > img {
    width: 250px;
    border-radius: 50%;
}
.cards{
    height: 350px;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap:10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
    
}
.cards:hover{
    background-color: rgba(108, 180, 204,0.6);
    transition: all 0.6s;
}
.cards > div:nth-child(2){
    font-size: 1.2rem;
    font-weight: bolder;
}
.cards > div:nth-child(3){
    margin-top: -8px;
}
.cards > button{
    height: 40px;
    width: 100px;
}

/* main card */
.main-card{
    width: 80%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap:30px;
    justify-content: center;
}

.products{
    font-size: 2.5rem;
    text-align: center;
    margin: 40px;
}