body{
    height:100vh;
}
.main-cart{
    height: 100vh;
    background-color: rgb(108, 180, 204);;
}
.cartpage{
    background-color: rgb(108, 180, 204);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame{
    height: 80vh;
    width: 50vw;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    overflow: auto;
    padding: 20px;
}

.checkout{
    height: 200px;
    border-bottom: 2px solid black;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.checkout > img{
    height: 180px;
}
.item-name{
    font-size: 1.5rem;
    font-weight: bolder;
}
.item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.totalprice{
    font-size: 1.2rem;
    font-weight: bolder;
    position: fixed;
    top:93%;
    left: 65%
}
.quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.quantity > div:nth-child(2) {
    display: flex;
    gap:5px;
}
.quantity > div:nth-child(2) > button:nth-child(1){
    background-color:lightgreen;
}
.quantity > div:nth-child(2) > button:nth-child(2){
    background-color: lightcoral;
}
.quantity > div:nth-child(2) > button{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 5px;
}

.cartHeader img {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.cartHeader > a >img{
    border: 2px solid black;
    border-radius: 50%;
}
.cartHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}
.cartHeader > div{
    font-size:1.5rem;
}