svg{
    height: 40px;
}
.svg-img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

    height: 100px;
    background-color: rgba(108, 180, 204,1);
}
hr{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top:80px;
    margin-bottom: 80px;
    border-color: black;
}