@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    font-family: 'Roboto', sans-serif;
}
body{
    height:200vh;
    overflow: auto;
}

.header{
    background-image: url(/images/bg.png);
    height:90vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.sub-header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:60px auto 1fr;
    grid-template-rows: 60px;
    justify-content: center;
    align-items: center;

    gap:20px;
    grid-column: 1/ 3;
}
input{
    width: 600px;
    height:40px;

    border-radius: 10px;
    appearance: none;
    outline:none;
    padding:10px;

    margin-left: 100px;
    border: 2px solid black;
}
.sub-header img{
    height:50px;
    border-radius: 50%;
    margin:10px;
}
.sub-header > div{
    background-color: white;
    width: 80px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}
.sub-header img.search-icon{
    margin-left: -60px;
    height: 30px;
}
.logo{
    border:2px solid black;
}
.pfp{
    width: 52px;
}
.logo:hover,
.pfp:hover{
    height: 51px;
}

body .sub-header > div{
    position: fixed;
    right:5%;

} 

/* styling for header */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-rows: 60px 1fr;
}
.header > div:nth-child(2){
    grid-column: 2 / 3; 
}
.company{
    color: white;
    text-align: center;
    align-self: center;
    font-size: 4rem;
}
.company-moto{
    font-size: 2rem;
    margin-top:20px;
    opacity:0.5;
}
